{% extends "layout.html" %}
{% block content %}
<h1>FLASK CSV File Upload</h1>
<form method="POST" action="" enctype="multipart/form-data">
  <p><input type="file" name="file"></p>
  <p><input type="submit" value="Submit"></p>
</form>
{% endblock content %}