<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Corrected path to main.css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

   

    <!-- time limit for parallex section -->
    <script src="{{ url_for('static', filename='autoscroll_and_timeout.js') }}"></script> 

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Flask Blog</title>
    {% endif %}
</head>
<body>

    <header>
        <!-- Navigation page  -->
        <nav class="navbar">
            <div >
                <a class="navbar" href="/">Home</a>
                
               
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="navbar" href="{{ url_for('StudentDetails') }}" onclick="scrollToSection('section2')">StudentDetails</a>
                    </div>
<!-- 
                      <div class="navbar-nav mr-auto">
                <a class="navbar" href="/Guide" onclick="scrollToSection('section3')">Guide</a>
            </div> -->
        
                </div>
           
          
    </div>
        </nav>
    </header>
        
    <!-- Parallex-section -->
    <div class="parallax-section" id="section1">
        <h1 class="waving-words">Welcome to Brookens Library Student Employment Application </h1>
    </div>
    
    <!-- Parallex-section -->
    <div class="parallax-section"  id="section2">
        <main role="main">
            <div class="row">
                <div class="col-md-8">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>
    </div>
 
    <!-- <div class="parallax-section" id="section3">
        <h1 class="waving-words">Welcome to Brooken's Library Student Employment Application </h1>
    </div> -->


</body>
</html>
