{% extends "layout.html" %}
{% block content %}

 <h1 class="textForhomepage">The website will help us see student availability based on input for day and time</h1>
 <p class="paragraphForHomepage">On clicking the "Student Details" tab in the navigation bar, we can navigate to the query section where we will input information and view available student data. The start time and end time indicate the time limit here. </p>

{% endblock content %}