<!-- extending basic html file layout.html -->
{% extends 'layout.html' %}
{% block content %}

<!-- calling css file main.css -->
<div>
<link rel="stylesheet" href="main.css">
    <table>
        <tr>
            <td>
                <form id="studentForm" method="post" >
                    <!--check box input for days -->
                    <fieldset>
                        <legend class="textHeadingDesign"><b>Select a Day:</b></legend>
                        <label class="checkboxdesign"><input type="checkbox" name="input-data-Day[]" value="M">Monday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="T">Tuesday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="W">Wednesday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="Th">Thursday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="F">Friday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="Sa">Saturday<br></label>
                        <label class="checkboxdesign"><input  type="checkbox" name="input-data-Day[]" value="Su">Sunday<br></label>
                    </fieldset>
            </td>
            <td>
                <!--input for time -->
                <fieldset>
                    <label class="startendinput" for="start">Start_Time</label>
                    <input class="inputdesign"  type="time" id="Start_Time" name="Start_Time" value=""
                           min="00:00" max="23:55">
                    <label class="startendinput" for="end">End_Time</label>
                    <input class="inputdesign" type="time" id="end" name="End_Time" value=""
                           min="00:00" max="23:55">
                    <legend class="textHeadingDesign"><b>Select a Time:</b></legend>
                </fieldset>
               
                <div>

                <button class="submitBtn" id="submitBtn">Submit</button>
                </div>

                </form>
            </td>
        </tr>

        <!-- Output for student details -->
    </table>
    <h1 class="outputTextDesign">Student Details</h1>
    {% if data == "No Students Available" %}
    <p>No Students Available</p>
    {% elif data %}

    <!-- Start_Time and End_Time output  -->
    <table style="border: 1px solid rgb(8, 1, 8); padding: 2px;" class="starttime_and_endtime_output">
        <tr>
            <th>Start_Time</th>
            <th>End_Time</th>
           
        </tr>
        <tr>
            <td>{{ Start_Time }}</td>
            <td>{{ End_Time }}</td>
           
        </tr>
        
    </table>
    
     <!-- student data output  -->
  <table cellspacing="1" cellpadding="0" border="0" width="500">
    <tr>
        <td>
            <div id="table-data-design" class="table-data-design" style="overflow-x: auto;">
                <table cellspacing="1" cellpadding="1" border="1" width="500" id="table2">
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Student Surname</th>
                            <th>Email</th>
                            <th>Time Slot</th>
                            <th>Day</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        {% for key, value in data.items() %}
                            {% for student in value %}
                                <tr>
                                    <td>{{ student.student_name }}</td>
                                    <td>{{ student.student_surname }}</td>
                                    <td>{{ student.student_email }}</td>
                                    <td>{{ student.slot_time }}</td>
                                    <td>{{ student.slot_day }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>

<!-- pagination  -->
</div >
<div class="pagination">
<div>
<label class="studentPerpageText" for="limit">Number of students per page:</label>

<!-- choosing number of data per page   -->
<select id="limit" name="limit" class="studentPerpage" onchange="updateTableRows()">
    <option  value="1"> 1</option>
    <option  value="2"> 2</option>
    <option  value="3"> 3</option>
    <option  value="4"> 4</option>
    <option  value="5"> 5</option>
    <option  value="6"> 6</option>
    <option  value="7"> 7</option>
    <option  value="8"> 8</option>
    <option  value="9"> 9</option>
    <option  value="10"> 10</option>
    <option  value="11"> 11</option>
    <option  value="12"> 13</option>
    <option  value="14"> 14</option>
    <option  value="15"> 15</option>
    <option  value="16"> 16</option>
    <option  value="17"> 17</option>
    <option  value="18"> 18</option>
    <option  value="19"> 19</option>
    <option  value="20"> 20</option>
    <option  value="21"> 21</option>
    <option  value="22"> 22</option>
    <option  value="23"> 23</option>
    <option  value="24"> 24</option>
    <option  value="25"> 25</option>
    <option  value="26"> 26</option>
    <option  value="27"> 27</option>
    <option  value="28"> 28</option>
    <option  value="29"> 29</option>
    <option  value="30"> 30</option>
    <option  value="31"> 31</option>
    <option  value="32"> 32</option>
    <option  value="33"> 33</option>
    <option  value="34"> 34</option>
    <option  value="35"> 35</option>
    <option  value="36"> 36</option>
    <option  value="37"> 37</option>
    <option  value="38"> 38</option>
    <option  value="39"> 39</option>
    <option  value="40"> 40</option>
    <option  value="41"> 41</option>
    <option  value="42"> 42</option>
    <option  value="43"> 43</option>
    <option  value="44"> 44</option>
    <option  value="45"> 45</option>
    <option  value="50"> 50</option>
    <option  value="51"> 51</option>
    <option  value="52"> 52</option>
    <option  value="53"> 53</option>
    <option  value="54"> 54</option>
    <option  value="55"> 55</option>
    <option  value="56"> 56</option>
    <option  value="57"> 57</option>
    <option  value="58"> 58</option>
    <option  value="59"> 59</option>
    <option  value="60"> 60</option>
    <option  value="61"> 61</option>
    <option  value="62"> 62</option>
    <option  value="63"> 63</option>
    <option  value="64"> 64</option>
    <option  value="65"> 65</option>
    <option  value="66"> 66</option>
    <option  value="67"> 67</option>
    <option  value="68"> 68</option>
    <option  value="70"> 70</option>
    <option  value="71"> 71</option>
    <option  value="72"> 72</option>
    <option  value="73"> 73</option>
    <option  value="74"> 74</option>
    <option  value="75"> 75</option>
    <option  value="76"> 76</option>
    <option  value="77"> 77</option>
    <option  value="78"> 78</option>
    <option  value="79"> 79</option>
    <option  value="80"> 80</option>
    <option  value="81"> 81</option>
    <option  value="82"> 82</option>
    <option  value="83"> 83</option>
    <option  value="84"> 84</option>
    <option  value="85"> 85</option>
    <option  value="86"> 86</option>
    <option  value="87"> 87</option>
    <option  value="88"> 88</option>
    <option  value="89"> 89</option>
    <option  value="90"> 90</option>
    <option  value="91"> 91</option>
    <option  value="92"> 92</option>
    <option  value="93"> 93</option>
    <option  value="94"> 94</option>
    <option  value="95"> 95</option>
    <option  value="96"> 96</option>
    <option  value="97"> 97</option>
    <option  value="98"> 98</option>
    <option  value="99"> 99</option>
    <option  value="100"> 100</option>
    <option  value="101"> 101</option>
    <option  value="102"> 102</option>
    <option  value="103"> 103</option>
    <option  value="104"> 104</option>
    <option  value="105"> 105</option>
    <option  value="106"> 106</option>
    <option  value="107"> 107</option>
    <option  value="108"> 108</option>
    <option  value="109"> 109</option>
    <option  value="110"> 110</option>
    <option  value="111"> 111</option>

</select>

                        <!-- previous and next page  -->
                        <button  class="PreviousandNextButton" id="prevPage" onclick="previousPage()">Previous</button>
                        <a class="pageNumber" onclick="goToPage(0)" >1</a>
                        <a class="pageNumber" onclick="goToPage(1)" >2</a>
                        <a class="pageNumber" onclick="goToPage(2)" >3</a>
                        <a class="pageNumber" onclick="goToPage(3)" >4</a>
                        <a class="pageNumber" onclick="goToPage(4)">5</a>
                        <a class="pageNumber" onclick="goToPage(5)">6</a>
                        <a class="pageNumber" onclick="goToPage(6)">7</a>
                        <a class="pageNumber" onclick="goToPage(7)">8</a>
                        <button class="lastPage" id="lastPage" onclick="goToLastPage()">Last Page</button>
                        <button class="PreviousandNextButton" id="nextPage" onclick="nextPage()">Next</button>
                        <span class="page" id="currentPage">Page 1</span>
                        <span ; class="totalpages" id="totalPages">totalPages</span>
                        <span class="totalrows" id="TotalRows">TotalRows</span>
                    </div>
                  
                        <!-- download like   -->
                        <a class="download_link" href="{{ download_link }}" download="my_file.csv">Download Output Data in CSV format</a>
                    
               
</div>
    <!-- if no data then it will show the statement   -->
    {% else %}
    <p class="showdata">Please select day and time input to get data</p>
    {% endif %}
    
    <script>

    //java script for pagination//
        var currentPage = 0;
        var totalRows = 0;
        var table = document.getElementById('table2');
        var limitInput = document.getElementById('limit');
        var limit = parseInt(limitInput.value) ; // Default limit is 20
    
       
        updateTableRows();
    
    
        function previousPage() {
            if (currentPage > 0) {
                currentPage--;
                updateTableRows();
            }
        }
    
        function nextPage() {
            var totalPages = Math.ceil(totalRows / limit);
            if (currentPage < totalPages - 1) {
                currentPage++;
                updateTableRows();
            }
        }
    
        //function for onclick of a number and show that page data
        function goToPage(pageNumber) {
        if (pageNumber >= 0 && pageNumber < Math.ceil(totalRows / limit)) {
            currentPage = pageNumber;
            updateTableRows();
            updateActiveButton();
        }
    }
    
    function goToLastPage() {
     var totalPages = Math.ceil(totalRows / limit);
     goToPage(totalPages - 1); 
    }
  
        function updateTableRows() {
            limit = parseInt(limitInput.value) ; // Update limit from the input field
            var tbody = table.getElementsByTagName('tbody')[0];
            var rows = tbody.getElementsByTagName('tr');
            totalRows = rows.length;
            var totalPages = Math.ceil(totalRows / limit);
            currentPage = Math.min(currentPage, totalPages - 1);
            
            for (var i = 0; i < totalRows; i++) {
            var displayStyle = i >= currentPage * limit && i < (currentPage + 1) * limit ? '' : 'none';
            rows[i].style.display = displayStyle; // Show or hide the row
             }

            document.getElementById('currentPage').textContent = 'Page ' + (currentPage + 1);
            document.getElementById('TotalRows').textContent = 'Total Rows: ' + totalRows;
            document.getElementById('totalPages').textContent = 'Total Pages: ' + totalPages;
        }

        
    </script>
    
   
  
   

</div>

{% endblock content %}
