/* CSS for Navigation  bar on top of website */

.navbar {
  width: 100%;
  padding: 14px 16px;
  background-color: rgb(3, 6, 46);
  overflow: auto;
  align-items: center;
  height: 100px;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  float: left;
  color: #d0c182;
  text-decoration: none;
  font-size: 30px;
  width: 35%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a:hover {
  background-color: #63074f;
}

.navbar a.active {
  background-color: #c09ae7;
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
}
body, nav {
  margin: 0;
  padding: 10;
}
#visualization {
  
    width: 100%;
    height: 500px; 
}
/* CSS for body and parallex effect */
body {
  background: linear-gradient(to bottom, #2c1822, #360c71);
  margin: 0;
  padding: 0;
  background: #2c2a61;
  color: #360c71;
  font-family: Arial;
  margin-top: 2rem;
}
.background-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.background-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
}
#visualization {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}


.parallax-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  
}

  #section1 {
    background-image: url('PhotoForApp1.jpg');
  }

  #section2 {
    background-image: url('PhotoForApp2.jpg');
  }

  /* #section3 {
    background-image: url('studentapplication_pic.jpg');
  } */


/* CSS for input on screen */


.startendinput
{
  width: 10px;
  height: 10px;
  color: #d738d7;
  position: relative;
  /* border-radius: 1px; */
  outline: none; 
  font-weight: bold;
  border:none;
  font-size: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(201, 196, 201);
 
}

.startendinput:hover {
  color: #f8d318; 
}
.textHeadingDesign
{
  /* background-color:#080117; */
  color: #e79db7;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  /* font-weight: bold; */
  outline: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(236, 245, 233);
 
  
}
.textHeadingDesign:hover {
  color:  #f8d318; 
}

fieldset {
  border: none; /* Remove border */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  outline: none; /* Remove outline */
}

.inputdesign
{
  background-color:#2b90b8;
  color:#02024a;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
}
.inputdesign:hover {
  background-color: #f8d318;
  color:   #0d4707;
}
.checkboxdesign{
  width: 10px;
  height: 10px;
  color: #e3a6e3;
  position: relative;
  /* border-radius: 1px; */
  font-weight: bold;
  border:none;
  font-size: 15px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(231, 93, 162);
}


.checkboxdesign:hover {
  border-color: #02356b; 
  color:  #f8d318; 
}

.checkboxdesign input:checked  {
  background-color: #0074D9; 
  border-color: #0074D9; 
}



.submitBtn
{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  background-color: #252545; 
  border: none;
  color: rgb(182, 215, 216);
  padding: 30px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #f8d318;
  color:   #0d4707;
}

/* CSS for output data display */
.outputTextDesign
{
  background-color:#770443;
  color: #f780b7;
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-weight: initial;
}
  /* CSS for output time display */
  .starttime_and_endtime_output
  {
    background-color:#59499b;
    color: #b8a5d1;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    float: right;
  
  }
  .starttime_and_endtime_output:hover {
    background-color: #f8d318;
    color:  black 
  }
  /* CSS for data table */


.table-data-design tr {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.table-data-design
{
  width:1200px;
  height:350px;
  overflow:scroll;
  text-align: center;
 }
 

 th{
  color:rgb(92, 105, 109);
  background-color:rgb(29, 29, 65);
  height: 60px;
  padding: 2px;
  text-align: center;
}
.main-content-design{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  
  border-color: rgb(140, 10, 163);
  border-width: 5px;
  border-style: groove;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 75px;
  margin-left: 40px;
   }
   #table1
   {
    color:rgb(8, 2, 24);
    background-color:#3a3a42;
    width: 100%;
    padding: 1px;
    text-align: center;
    font-size: 12px;
   }
   #table2
   {
    color:rgb(19, 18, 26);
    background-color:#6c748e;
    width: 100%;
    padding: 2px;
    text-align: center;
   }
  
   /* .main-content-design:hover {
    background-color:#a38429;
  }  */
  

.showdata
{

  color: #bd0530;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  animation: bounce 1s ease infinite;
}




.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-section {
  background: #B0E0E6;
  /* padding: 10px 20px; */
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}


/* CSS for main data table on screen */
/* CSS for numbers of pagiantion on screen */
.pagination {
  background: #27223f; 
  color: #9b7bc8;
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #04041c;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.table-row:nth-child(n+6) {
  display: none;
}

/* CSS for numbers of students per page  text on screen */
.studentPerpageText
{
     
     color: #d2a3f1;
   
}

.studentPerpageText:hover {
  background-color: #e894eb;
  color: #2a329c;
} 
/* CSS for numbers of students per page dropdown checkbox on screen */
.studentPerpage
{
     
     background-color: #99aabb;
     color: #1b0a3e;
}

.studentPerpage:hover {
  background-color:#e894eb;
} 

/* CSS for page numbers on screen */
.pageNumber
{
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #3a3287;
  border-radius: 2px;
  background-color: #544585;
  color: #f3ecf8;
}

.pageNumber:hover {
  background-color: #2e5ec5;
  color:  #9215a5;
}
/* CSS for page, totalpages and totalrows */
/* CSS for page */
.page
{
  color:rgb(165, 212, 242);
  padding: 2px;
  font-size: 14px;
}
.page:hover {
  background-color: #e894eb;
  color:  #9215a5;
}
/* CSS for totalpages */
.totalpages
{
  color:rgb(184, 219, 173);
  padding: 2px;
  font-size: 14px;
}
.totalpages:hover {
  background-color:#e894eb;
  color: #9215a5;
}
/* CSS  totalrows */
.totalrows
{
  color:rgb(231, 93, 135);;
  padding: 2px;
  font-size: 14px;
}
.totalrows:hover {
  background-color: #e894eb;
  color: #9215a5;
}
/* CSS for previous and next buttons */
.PreviousandNextButton
{
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #8f7feb;
  border-radius: 2px;
  background-color: #0a1de7;
  color: #8287b0;
}

/* Hover State */
.PreviousandNextButton:hover {
  background-color: #ce57d2;
  color: #0c000c;
}

/* Active State */
.PreviousandNextButton:active {

  background-color: #1c1ea0;
}

/* Disabled State */
.PreviousandNextButton:disabled {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
}

.lastPage
{
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #8f7feb;
  border-radius: 2px;
  background-color: #5258a5;
  color: #05081d;
}
.lastPage:hover {
  background-color: #8f8d8f;
  color: #0c000c;
}

/* CSS for download link at the bottom of the page */

.download_link
{
  color: #0a0554; 
  text-decoration: bold;
  background-color: #2c2c81;
}
.download_link:hover {
  background-color: #ce57d2;
  color: #0c000c;
}

/* Change link color when visited */
.download_link:visited {
  color:#31043a; /* Set a color for visited links */
}
.firstpagetext
{
  color:#060128;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
  /* animation: bounce 1s ease infinite; */
}

/* Home page words */
@keyframes waveAndMoveAnimation {
  0%, 100% {
    transform: scaleY(1) translateX(0);
  }
  50% {
    transform: scaleY(0.8) translateX(50px);
  }
}



.waving-words {
  display: inline-block;
  animation: waveAndMoveAnimation 4s infinite;
  color:#060128;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(19, 1, 19);
  
}

.textForhomepage
{
 background-color:#080117; 
 color: #5488dc;
 text-align: center;
 font-family: Arial;
 font-size: 45px;
 /* font-weight: bold; */
 outline: none;
 /* -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: rgb(236, 245, 233); */
 animation: fadeIn 3s ease-in-out; 
 
}

.paragraphForHomepage
{
   background-color:#080117;
   color: #d0acb9;
   text-align: center;
   font-family: Arial;
   font-size: 30px;
   /* font-weight: bold; */
   outline: none;
   /* -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(236, 245, 233); */
   animation: slideIn 5s ease-in-out;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}